$success-color: #00aa50;
$success-color-dark: #019a49;

.list-header  {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	h1 {
		margin-right: auto;
	}

	a, button {
		padding: 0.4rem 0.8rem;
	}

	a {
		background-color: $success-color;
		color: #fff;

		&:hover {
			background-color: $success-color-dark;
		}
	}
}

#before-login {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
}

#logout-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}